<!DOCTYPE html>
<html>
  <head>
    <title>Bienvenidos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body style="background-color: <%- locals.bgcolor ? bgColor : null %>;">

<h1> <%= locals.userName ? userName : null %> Gracias por visitarnos </h1>
    </body>
    </html>